@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

*, *:before, *:after {
  box-sizing: border-box; }

img,
object,
embed {
  max-width: 100%; }

html {
  overflow-y: scroll; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

button,
input[type=button] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

h1 {
  font-family: 'Roboto', arial, sans-serif; }

h2 {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 2.25rem; }

h3 {
  font-family: 'Roboto', arial, sans-serif; }

h4 {
  font-family: 'Roboto', arial, sans-serif; }

h5 {
  font-family: 'Roboto', arial, sans-serif; }

h6 {
  font-family: 'Roboto', arial, sans-serif; }

p {
  padding-top: 1em;
  padding-bottom: .5em; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.overflowAuto {
  overflow: auto; }

.textCenter {
  text-align: center; }

.textLeft {
  text-align: left; }

.textRight {
  text-align: right; }

.fullWidth {
  display: block;
  width: 100%; }

.hidden {
  display: none; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

textarea {
  resize: none; }

label.required:after {
  content: '*'; }

#frmRaffle, #frmSearch {
  margin-top: .7rem; }
  #frmRaffle input, #frmRaffle button, #frmSearch input, #frmSearch button {
    border-radius: 0;
    border: none; }

button {
  border-radius: 0 !important;
  box-shadow: none !important; }
  button.btn-primary.btn-primary {
    background: #767BB3;
    border: 1px solid #767BB3; }
  button.btn-default.btn-default {
    background: #E0E0E0;
    border: 1px solid #E0E0E0; }
  button.btn-link.btn-link {
    color: white;
    text-decoration: underline; }

header {
  top: 0;
  width: 100%; }

#navbar {
  height: 6rem;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0; }

#logo {
  text-align: center;
  margin-top: -5rem;
  box-sizing: border-box; }
  #logo h1 {
    position: relative;
    width: 10rem;
    height: 10rem;
    left: 50%;
    margin-left: -5rem;
    display: block;
    border-radius: 50%;
    box-sizing: content-box; }
    #logo h1.konami {
      -webkit-transition: all 1.2s ease-in-out;
      -moz-transition: all 1.2s ease-in-out;
      -o-transition: all 1.2s ease-in-out;
      transition: all 1.2s ease-in-out;
      -webkit-transform: rotate(720deg);
      -moz-transform: rotate(720deg);
      -o-transform: rotate(720deg);
      -ms-transform: rotate(720deg);
      transform: rotate(720deg);
      left: 100%;
      margin-left: 6rem; }
      #logo h1.konami:after {
        background: none; }
    #logo h1 > a {
      width: 10rem;
      height: 10rem;
      background-size: 100%;
      display: block;
      overflow: hidden;
      position: relative;
      text-align: left; }
      #logo h1 > a img {
        position: absolute;
        z-index: 9999;
        width: 100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        #logo h1 > a img:hover {
          -webkit-transform: rotate(10deg);
          -moz-transform: rotate(10deg);
          -o-transform: rotate(10deg);
          -ms-transform: rotate(10deg);
          transform: rotate(10deg); }
    #logo h1:after {
      content: "";
      height: 5.5rem;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      width: 11rem;
      border-bottom-left-radius: 5.5rem;
      border-bottom-right-radius: 5.5rem;
      top: 5rem;
      left: -0.5rem;
      z-index: 0; }

footer {
  text-align: center;
  line-height: 2;
  font-size: .625rem;
  color: white;
  padding: 1rem; }

html {
  min-height: 100%; }

body {
  background-image: url("../img/pattern.png"), url("../img/bg_image.jpg");
  background-position: left top, center top;
  background-repeat: repeat, no-repeat;
  background-size: 2px 2px, cover;
  font-size: 16px;
  font-family: verdana, arial, sans serif;
  min-height: 100%;
  overflow-x: hidden; }

#content {
  z-index: 150;
  width: 90%;
  text-align: center;
  padding: 2em;
  color: white;
  font-family: Roboto, sans-serif;
  max-width: 60rem;
  margin: auto;
  margin-top: 2rem; }
  #content.page {
    background: white;
    color: black; }
    #content.page a {
      color: #767BB3; }

#rafflerContent {
  max-width: 48.43rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: auto;
  padding: 2rem; }
  @media screen and (min-width: 48rem) {
    #rafflerContent {
      margin-top: 4rem; } }
  #rafflerContent p {
    line-height: 1.5; }
  #rafflerContent a {
    color: white;
    text-decoration: underline; }
  #rafflerContent table th {
    background: #767BB3;
    text-align: center; }
  #rafflerContent table td {
    background: #DADADA;
    color: black; }

.list-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 62.5rem;
  text-align: left; }

#ruleslist {
  width: 95%;
  max-width: 62.5rem;
  margin: auto;
  text-align: left; }
  #ruleslist li {
    margin-top: 1rem; }

#msgPane:not(.text-success):not(.text-danger) {
  overflow: auto;
  background: #DADADA;
  color: black; }
