header {
    top: 0;
    width: 100%;
}

#navbar {
    height: 6rem;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    top: 0;
}

#logo {
    text-align: center;
    margin: {
        top: -5rem;
    }
    box-sizing: border-box;
    h1 {
        position: relative;
        width: 10rem;
        height: 10rem;
        left: 50%;
        margin-left: -5rem;
        display: block;
        border-radius: 50%;
        &.konami {
            -webkit-transition: all 1.2s ease-in-out;
            -moz-transition: all 1.2s ease-in-out;
            -o-transition: all 1.2s ease-in-out;
            transition: all 1.2s ease-in-out;
            -webkit-transform: rotate(720deg);
            -moz-transform: rotate(720deg);
            -o-transform: rotate(720deg);
            -ms-transform: rotate(720deg);
            transform: rotate(720deg);
            left: 100%;
            margin-left: 6rem;
            &:after {
                background: none;
            }
        }
        > a {
            width: 10rem;
            height: 10rem;
            background-size: 100%;
            display: block;

            overflow: hidden;
            position: relative;
            text-align: left;
            img {
                position: absolute;
                z-index: 9999;
                width: 100%;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &:hover {
                    -webkit-transform: rotate(10deg);
                    -moz-transform: rotate(10deg);
                    -o-transform: rotate(10deg);
                    -ms-transform: rotate(10deg);
                    transform: rotate(10deg);
                }
            }

        }
        &:after {
            content: "";
            height: 5.5rem;
            background: rgba(0, 0, 0, .7);
            position: absolute;
            width: 11rem;
            border-bottom-left-radius: 5.5rem;
            border-bottom-right-radius: 5.5rem;
            top: 5rem;
            left: -0.5rem;
            z-index: 0;
        }
        box-sizing: content-box;

    }
}