@-webkit-keyframes bounce {
	0% {
		margin-top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	16% {
		margin-top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	32% {
		margin-top: 50px;
		-webkit-animation-timing-function: ease-in;
	}
	48% {
		margin-top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	62% {
		margin-top: 100px;
		-webkit-animation-timing-function: ease-in;
	}
	78% {
		margin-top: 190px;
		-webkit-animation-timing-function: ease-out;
	}
	90% {
		margin-top: 150px;
		-webkit-animation-timing-function: ease-in;
	}
	100% {
		margin-top: 190px;
		-webkit-animation-timing-function: ease-out;
	}

}

@-moz-keyframes bounce {
	0% {
		margin-top: 0;
		-moz-animation-timing-function: ease-in;
	}
	16% {
		margin-top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	32% {
		margin-top: 50px;
		-moz-animation-timing-function: ease-in;
	}
	48% {
		margin-top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	62% {
		margin-top: 100px;
		-moz-animation-timing-function: ease-in;
	}
	78% {
		margin-top: 190px;
		-moz-animation-timing-function: ease-out;
	}
	90% {
		margin-top: 150px;
		-moz-animation-timing-function: ease-in;
	}
	100% {
		margin-top: 190px;
		-moz-animation-timing-function: ease-out;

	}
}

@-ms-keyframes bounce {
	0% {
		margin-top: 0;
		-ms-animation-timing-function: ease-in;
	}
	16% {
		margin-top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	32% {
		margin-top: 50px;
		-ms-animation-timing-function: ease-in;
	}
	48% {
		margin-top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	62% {
		margin-top: 100px;
		-ms-animation-timing-function: ease-in;
	}
	78% {
		margin-top: 190px;
		-ms-animation-timing-function: ease-out;
	}
	90% {
		margin-top: 150px;
		-ms-animation-timing-function: ease-in;
	}
	100% {
		margin-top: 190px;
		-ms-animation-timing-function: ease-out;
	}
}

@keyframes bounce {
	0% {
		margin-top: 0;
		animation-timing-function: ease-in;
	}
	16% {
		margin-top: 190px;
		animation-timing-function: ease-out;
	}
	32% {
		margin-top: 50px;
		animation-timing-function: ease-in;
	}
	48% {
		margin-top: 190px;
		animation-timing-function: ease-out;
	}
	62% {
		margin-top: 100px;
		animation-timing-function: ease-in;
	}
	78% {
		margin-top: 190px;
		animation-timing-function: ease-out;
	}
	90% {
		margin-top: 150px;
		animation-timing-function: ease-in;
	}
	100% {
		margin-top: 190px;
		animation-timing-function: ease-out;
	}
}

body.konami {
	header {
		padding-bottom: 12em;
	}

	#content {
		margin-top: 33em;
	}

	#logo {
		-webkit-animation: bounce 2s;
		-moz-animation: bounce 2s;
		-ms-animation: bounce 2s;
		animation: bounce 2s;
		margin-top: 190px;
	}
}