// some helper classes
.floatLeft 		{ float: left; }
.floatRight 	{ float: right; }

.overflowAuto 	{ overflow: auto; }

.textCenter 	{ text-align: center; }
.textLeft 		{ text-align: left; }
.textRight 		{ text-align: right; }

.fullWidth 		{ display: block; width: 100%; }

.hidden 		{ display: none; }

.bold 			{ font-weight: bold; }
.italic 		{ font-style: italic; }


