h1 {
font-family: 'Hammersmith One', arial, sans-serif;
}

h2 {
	font-family: 'Hammersmith One', arial, sans-serif;
	font-size: 3rem;
}

h3 {
	font-family: 'Hammersmith One', arial, sans-serif;
}

h4 {
	font-family: 'Hammersmith One', arial, sans-serif;
}

h5 {
	font-family: 'Hammersmith One', arial, sans-serif;
}

h6 {
	font-family: 'Hammersmith One', arial, sans-serif;
}

p {
	padding: {
		top: 1em;
		bottom: .5em;
	}
}