// put all your variables in this folder

// colors
$text-color: black;
$php-purple: #767bb3;
$header-color: #2c2c2c;
$content-background-color: #dadada;
$text-color: #2c2c2c;

// sizes
$websiteWidth : 100%;

// images
$sprite :  "../img/sprite.png";